
$icon-card: "\EA01" !default;

$icon-check-0: "\EA02" !default;

$icon-check-f: "\EA03" !default;

$icon-check: "\EA04" !default;

$icon-data: "\EA05" !default;

$icon-face: "\EA06" !default;

$icon-finger: "\EA07" !default;

$icon-mail: "\EA08" !default;

$icon-phone: "\EA09" !default;