/* font colors */

$color-1: #fefefe;         	//Very light gray (mostly white)
$color-2: #454141;			//Very dark grayish red
$color-3: #fb0707;			//Vivid red
$color-4: #e9066b;			//Vivid pink
$color-5: #61c25e;			//Moderate lime green
$color-6: #d7d7d7;			//Light gray

/* beckground colors*/

$bg-color-1: #fff;			//Whight
$bg-color-2: #f1f5f8;		//Light grayish blue
